body {
    font-family: Arial, sans-serif;
    margin: 100px;
    margin-top: 50px;
    text-align: center;
}

h1 {
    color: orange;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 30px auto;
}

li {
    background-color: #f0f0f0;
    color: orange;
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
}

#add {
    margin: 10px;
}

#textbox {
    border-radius: 20px;
    border-color: lightgrey;
}